APP_NAME=PDPHero
APP_ENV=production
APP_KEY=
APP_DEBUG=false
DEBUGBAR_ENABLED=false
APP_URL=https://www.pdphero.com

LOG_CHANNEL=stack
LOG_LEVEL=debug
LOG_DISCORD_LEVEL=critical
LOG_DISCORD_WEBHOOK_URL=""
LOG_PAPERTRAIL_LEVEL=info
LOG_PAPERTRAIL_URL=logs.papertrailapp.com
LOG_PAPERTRAIL_PORT=
LOG_VIEWER_ENABLE_ROUTES=false

DB_CONNECTION=mysql
DB_URL=${YOUR_DATABASE_COMPONENT.DATABASE_URL}
DB_HOST=${YOUR_DATABASE_COMPONENT.HOSTNAME}
DB_PORT=${YOUR_DATABASE_COMPONENT.PORT}
DB_DATABASE=${YOUR_DATABASE_COMPONENT.DATABASE}
DB_USERNAME=${YOUR_DATABASE_COMPONENT.USERNAME}
DB_PASSWORD=${YOUR_DATABASE_COMPONENT.PASSWORD}

BROADCAST_DRIVER=log
CACHE_DRIVER=database
QUEUE_CONNECTION=database
SESSION_DRIVER=database
SESSION_LIFETIME=120

VONAGE_KEY=""
VONAGE_SECRET=""
VONAGE_SMS_FROM=""
SMS_CODE_EXPIRE_MINUTES=15

MAIL_MAILER=mailgun
MAILGUN_DOMAIN="pdphero.com"
MAILGUN_SECRET=""

SES_ACCESS_KEY_ID=""
SES_ACCESS_KEY_SECRET=""
SES_REGION="us-east-2"

CASHIER_MODEL=App\Models\User\User
STRIPE_KEY=
STRIPE_SECRET=
BASIC_STRIPE_PRICE_ID=
BLACK_LABEL_STRIPE_PRICE_ID=
BASIC_MEMBERSHIP_PRICE="5.99"
BLACK_LABEL_MEMEBERSHIP_PRICE="10.99"
MEMBERSHIP_TRIAL_LENGTH_IN_DAYS=60
ALPHA_USER_TRIAL_BONUS=30

SHOW_SOCIAL_FOOTER=true
DISCORD_INVITE_ID="bMYbFRK5xM"
SUBREDDIT="pdpheroapp"
YOUTUBE_CHANNEL_ID="UCMu1BlpopO1DK9v1CBe2dLA"
TWITTER_USERNAME="pdpheroapp"

TUTORIALS_YT_PLAYLIST="https://www.youtube.com/playlist?list=PLnV5QE5FQd-FqWK3s-3ipnxBhv7HCbGmj"

HABIT_STRENGTH_MIN_DAY_CHANGE=".89"
HABIT_STRENGTH_MAX_DAY_CHANGE="2.05"
HABIT_STRENGTH_CHANGE_RATE=".0125"
HABIT_STRENGTH_BUFFER=7

PROGRESS_BAR_LOW_PERCENTAGE=40

VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=

SMS_TRIAL_LIMIT=4

FILESYSTEM_DRIVER=do
DO_ACCESS_KEY_ID=
DO_SECRET_ACCESS_KEY=
DO_ENDPOINT=https://YOUR_REGION.digitaloceanspaces.com
DO_CDN_ENDPOINT=https://YOUR_REGION.cdn.digitaloceanspaces.com
DO_URL=https://spaces.pdphero.com
DO_DEFAULT_REGION=YOUR_REGION
DO_BUCKET=
ASSET_URL=https://spaces.pdphero.com