@import 'base';

html
{
    background-color: $dark-blue;
    height: 100%;
    scroll-behavior: smooth;
}

body
{
    margin-top: 0;
}

.error
{
    color: $red !important;
}

.success
{
    color: $green !important;
}

header.app
{
    @extend %app-header;
}

nav.app
{
    @extend %app-nav;
}

footer.app
{
    @extend %app-footer;
}