@import 'base';

html
{
    background-color: $dark-blue;
    height: 100%;
    scroll-behavior: smooth;
}

body
{
    margin-top: 0;
}

.error
{
    color: $red !important;
}

.success
{
    color: $green !important;
}

header.app
{
    @extend %app-header;

    border-bottom: none;
}

nav.app
{
    @extend %app-nav;
}

footer.app
{
    @extend %app-footer;

    border-top: none;
}

div.app-container
{
    @extend %app-container;

    margin-bottom: 0;
    margin-top: 1%;
}