// Google Fonts Typography
$body-font: 'Rokkitt', serif; // Default font for pretty much everything
$header-font: 'Krona One', sans-serif; // Default font for titles and headers
$hero-title-font: 'Audiowide', cursive; // Font that makes up the 'HERO' part of PDPHERO title
$pdp-title-font: 'Shrikhand', cursive; // Font that makes up the 'PDP' part of PDPHERO title

// Base Colors
$black: #030303;
$brown: #26130c; // Used for apple theme and icon theme backgrounds
$dark-grey: #3b3b3b; // Used for android theme and icon theme backgrounds
$dark-blue: #0e2038; // Banner background color
$light-blue: #155466; // Blue in the PDPHero icon
$light-grey: #A4A4A4;
$white: #ffffff;

// Border Sizes
$thin-border: 2px;
$medium-border: 5px;