@import 'app';

header.app
{
    @extend %app-header;

    #title
    {
        @include title-font;

        @media only screen and (max-width: 500px)
        {
            font-size: 1.75em;
        }

        @media only screen and (max-width: 400px)
        {
            font-size: 1.5em;
        }
    }
}

div.app-container
{
    form.addiction
    {
        @extend %base-form;

        height: 60%;
        overflow-x: hidden;
        overflow-y: scroll;

        h2
        {
            @include form-title;

            margin-top: 0;

            @media only screen and (max-width: 1300px)
            {
                font-size: 1.75em;
            }
        }

        span.start-on
        {
            color: $white;
            font-family: $body-font;
            font-size: 1.85em;
    
            @media only screen and (max-height: 850px)
            {
                font-size: 1.6em;
            }

            input#start-on
            {
                font-size: 1em;
                margin: 0;
                width: auto;

                @media only screen and (max-width: 500px)
                {
                    margin-left: 15%;
                    margin-right: 15%;
                    text-align: center;
                    width: 70%;
                }

                @media only screen and (max-width: 350px)
                {
                    margin: auto;
                    width: 96%;
                }
            }
        }

        span.moderation
        {
            color: $white;
            font-family: $body-font;
            font-size: 1.75em;

            input#moderation-amount, input#moderation-period, select
            {
                font-size: 1em;
                text-align: center;
                width: auto;
            }

            input#moderation-amount
            {
                max-width: 10%;
                padding: 0;
                padding-bottom: 5px;
                padding-right: 5px;

                @media only screen and (max-width: 1300px)
                {
                    max-width: 15%;
                }

                @media only screen and (max-width: 500px)
                {
                    max-width: 20%;
                }

                @media only screen and (max-width: 375px)
                {
                    max-width: 30%;
                }
            }

            input#moderation-period
            {
                max-width: 10%;
                padding: 0;
                padding-bottom: 5px;
                padding-right: 5px;

                @media only screen and (max-width: 1300px)
                {
                    max-width: 15%;
                }

                @media only screen and (max-width: 500px)
                {
                    max-width: 20%;
                }

                @media only screen and (max-width: 375px)
                {
                    max-width: 30%;
                }
            }

            select
            {
                min-width: 20%;
                padding-top: 5px;

                @media only screen and (max-width: 500px)
                {
                    min-width: 40%;
                }

                @media only screen and (max-width: 375px)
                {
                    min-width: 50%;
                }
            }

            span.break
            {
                @media only screen and (max-width: 500px)
                {
                    display: table;
                    margin-bottom: 2.5%;
                }
            }

            &.hide
            {
                display: none;
            }
        }

        textarea
        {
            min-height: 12.5vh;

            @media only screen and (max-width: 500px)
            {
                min-height: 22.5vh;
            }
        }

        span.form-spacer
        {
            display: table;
            margin-bottom: 10vh;
        }

        select
        {
            background-color: $dark-grey;
            color: $white;
            font-family: $body-font;
            font-size: 1.75em;
            padding-left: .5%;
            padding-right: .5%;
            text-align: center;
        }

        select#method-selector
        {
            width: 75%;

            @media only screen and (max-width: 1400px)
            {
                font-size: 1.5em;
            }

            @media only screen and (max-width: 850px)
            {
                margin-left: 2.5%;
                width: 95%;
            }

            @media only screen and (max-width: 450px)
            {
                font-size: 1.5em;
            }

            &:focus
            {
                outline: none;
            }
        }

        button
        {
            @extend %button;

            @include cancel-submit-buttons;
        }
    }
}