@import 'app';

header.app
{
    @extend %app-header;

    #title
    {
        @include title-font;
    }
}

div.app-container
{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;

    @media only screen and (max-width: 800px)
    {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        overflow-y: scroll;
    }

    div.selector
    {
        align-self: flex-start;
        color: $white;
        font-family: $header-font;
        font-size: 2em;
        margin-bottom: 1%;
        margin-top: 1%;
        text-align: center;
        width: 99%;

        span
        {
            @media only screen and (max-width: 1400px)
            {
                display: block;
            }

            @media only screen and (max-width: 1300px)
            {
                font-size: .8em;
            }

            @media only screen and (max-width: 900px)
            {
                font-size: .7em;
            }

            @media only screen and (max-width: 450px)
            {
                font-size: .6em;
            }

            @media only screen and (max-width: 340px)
            {
                font-size: .5em;
            }
        }

        select
        {
            background-color: $dark-grey;
            color: $white;
            font-family: $header-font;
            font-size: 1em;
            text-align: center;
            
            padding-left: .5%;
            padding-right: .5%;

            @media only screen and (max-width: 550px)
            {
                max-width: 60%;
            }

            &:focus
            {
                outline: none;
            }
        }
    }

    div.goal
    {
        align-self: flex-start;
        border: $thin-border solid $light-grey;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        flex-grow: 0;
        flex-wrap: wrap;
        margin: .25%;
        text-align: center;
        width: 45%;

        @media only screen and (max-width: 1300px)
        {
            margin: 1%; 
            width: 98%;
        }
        
        @media only screen and (max-width: 800px)
        {
            width: 96.5%;
        }

        img.goal-img
        {
            align-self: center;
            max-width: 30%;
        }

        a
        {
            align-self: center;
            flex-direction: column;
            height: auto;
            text-decoration: none;
            width: 69%;

            h2
            {
                color: $white;
                font-family: $header-font;
                font-size: 1.65em;
                font-weight: normal;
                margin-bottom: 0;
                margin-top: 0;
                width: 100%;

                @media only screen and (max-width: 1300px)
                {
                    font-size: 2.25em;
                }

                @media only screen and (max-width: 900px)
                {
                    font-size: 1.75em;
                }

                @media only screen and (max-width: 550px)
                {
                    font-size: 1.5em;
                }

                @media only screen and (max-width: 450px)
                {
                    font-size: 1.35em;
                }

                @media only screen and (max-width: 375px)
                {
                    font-size: 1.25em;
                }

                @media only screen and (max-width: 320px)
                {
                    font-size: 1.1em;
                }
            }

            &:hover > h2
            {
                font-weight: bold;
            }
        }

        div.progress-container
        {
            @include progress-bar;

            flex-grow: 0;
            margin-top: 1%;
        }

        div.status
        {
            p.label
            {
                font-family: $body-font;
                font-size: 3em;
                font-weight: bolder;
                margin-bottom: 1%;
                margin-top: 3%;

                @media only screen and (max-width: 1300px)
                {
                    font-size: 3.25em;
                }

                @media only screen and (max-width: 900px)
                {
                    font-size: 2.75em;
                }

                @media only screen and (max-width: 600px)
                {
                    font-size: 2.5em;
                }

                @media only screen and (max-width: 550px)
                {
                    font-size: 2em;
                }

                @media only screen and (max-width: 375px)
                {
                    font-size: 1.75em;
                }

                @media only screen and (max-width: 320px)
                {
                    font-size: 1.5em;
                }

                &.tbd
                {
                    color: $brown;
                }

                &.lagging
                {
                    color: $red;
                }

                &.ontrack
                {
                    color: $yellow;
                }

                &.ahead
                {
                    color: $green;
                }

                &.completed
                {
                    color: $green;
                }
            }

            img
            {
                margin-bottom: 1%;
                margin-left: 1%;
                margin-right: 1%;
                width: 98%;
                
                @media only screen and (max-width: 800px)
                {
                    margin-left: 2%;
                    margin-right: 2%;
                    width: 96%;
                }
            }
        }
    }
}