@import 'app';

@mixin toggle-history
{
    border: $thin-border solid $white;
    background: $dark-grey;
    border-radius: 5px;
    box-sizing: border-box;
    height: 75px;
    vertical-align: middle;
    width: 75px;

    @media only screen and (max-width: 1650px)
    {
        height: 70px;
        width: 70px;
    }

    @media only screen and (max-width: 1550px)
    {
        height: 65px;
        width: 65px;
    }

    @media only screen and (max-width: 1450px)
    {
        height: 60px;
        width: 60px;
    }

    @media only screen and (max-width: 1300px)
    {
        height: 65px;
        width: 65px;
    }

    @media only screen and (max-width: 625px)
    {
        height: 60px;
        width: 60px;
    }

    @media only screen and (max-width: 525px)
    {
        height: 55px;
        width: 55px;
    }

    @media only screen and (max-width: 450px)
    {
        height: 50px;
        width: 50px;
    }

    @media only screen and (max-width: 415px)
    {
        height: 45px;
        width: 45px;
    }

    @media only screen and (max-width: 375px)
    {
        height: 40px;
        width: 40px;
    }

    @media only screen and (max-width: 350px)
    {
        height: 35px;
        width: 35px;
    }

    &.not-required
    {
        background-image: linear-gradient(to bottom, $light-grey, $dark-grey);
    }

    &.skipped
    {
        background: $brown;

        &.not-required
        {
            background-image: linear-gradient(to bottom, $light-grey, $brown);
        }
    }

    &.completed
    {
        background: $green;

        &.not-required
        {
            background-image: linear-gradient(to bottom, $light-grey, $green);
        }
    }

    &.partial
    {
        background: $yellow;

        &.not-required
        {
            background-image: linear-gradient(to bottom, $light-grey, $yellow);
        }
    }

    &.missed
    {
        background: $red;

        &.not-required
        {
            background-image: linear-gradient(to bottom, $light-grey, $red);
        }
    }
}

header.app
{
    @extend %app-header;

    #title
    {
        @include title-font;
    }
}

div.app-container
{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow-y: scroll;

    @media only screen and (max-width: 800px)
    {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        overflow-y: scroll;
    }

    div.habit
    {
        align-self: flex-start;
        border: $thin-border solid $light-grey;
        border-radius: 10px;
        flex-direction: row;
        margin: .25%;
        text-align: center;
        width: 45%;

        @media only screen and (max-width: 1300px)
        {
            margin: 1%; 
            width: 98%;
        }
        
        @media only screen and (max-width: 800px)
        {
            width: 96.5%;
        }

        a
        {
            text-decoration: none;

            h2
            {
                color: $white;
                font-family: $header-font;
                font-weight: normal;

                @media only screen and (max-width: 800px)
                {
                    font-size: 1.4em;
                    margin-bottom: 1%;
                    margin-top: 1%;
                }

                @media only screen and (max-width: 450px)
                {
                    font-size: 1.15em;
                    margin-bottom: 2%;
                }

                @media only screen and (max-width: 375px)
                {
                    font-size: 1em;
                    margin-bottom: 2%;
                }
            }

            &:hover > h2
            {
                font-weight: bold;
            }
        }

        div.progress-container
        {
            border-bottom: $thin-border solid $white;
            border-radius: 10px;
            border-top: $thin-border solid $white;
            box-sizing: border-box;
            margin-left: 1%;
            margin-right: 1%;
            min-height: 35px;
            width: 98%;
            
            @media only screen and (max-width: 800px)
            {
                margin-left: 2%;
                margin-right: 2%;
                min-height: 30px;
                width: 96%;
            }

            @media only screen and (max-width: 450px)
            {
                font-size: 1.15em;
                min-height: 25px;
            }

            div.progress-bar
            {
                border-left: $thin-border solid $white;
                border-radius: 10px;
                border-right: $thin-border solid $white;
                box-sizing: border-box;
                color: $white;
                font-size: 2em;
                min-height: 35px;
                margin-bottom: 0;
                text-shadow: 2px 2px 3px $black;

                @media only screen and (max-width: 800px)
                {
                    font-size: 1.5em;
                    min-height: 30px;
                }

                @media only screen and (max-width: 450px)
                {
                    font-size: 1.15em;
                    min-height: 25px;
                }

                span.low-percentage
                {
                    position: relative;
                    right: -10px;
                }
            }

            div.no-border
            {
                border: none;
            }
        }

        div.history-toggle-container
        {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            margin-bottom: 1%;
            margin-left: 1%;
            width: 98%;

            div.history-toggle-item
            {
                &:hover
                {
                    cursor: pointer;
                }
                
                &:hover > p
                {
                    font-weight: bold;
                }

                &:hover > div.toggle-history
                {
                    border: $medium-border solid $white;
                }

                p
                {
                    color: $white;
                    font-family: $body-font;
                    font-size: 1.5em;
                    margin: 0;

                    @media only screen and (max-width: 450px)
                    {
                        font-size: 1.25em;
                    }

                    @media only screen and (max-width: 375px)
                    {
                        font-size: 1em;
                    }
                }

                div.toggle-history
                {
                    @include toggle-history;
                }
            }
        }
    }

    div.color-guide
    {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-left: 15%;
        padding-right: 15%;
        width: 100%;

        @media only screen and (max-width: 1200px)
        {
            padding-left: 2.5%;
            padding-right: 2.5%;
        }

        @media only screen and (max-width: 800px)
        {
            padding-left: .5%;
            padding-right: 1%;
            width: 98%;
        }

        div.color-key
        {
            color: $white;
            font-family: $body-font;
            font-size: 1.75em;
            margin-bottom: 2.5%;
            text-align: center;
            width: auto;

            @media only screen and (max-width: 800px)
            {
                font-size: 1.25em;
                margin-bottom: 5%;
            }

            &:first-of-type
            {
                margin-top: 2.5%;
            }

            div.toggle-history
            {
                @include toggle-history;

                display: inline-block;
            }
        }
    }

    form.habit
    {
        @extend %base-form;

        height: 60%;
        margin-top: 1%;
        overflow-y: scroll;

        h2
        {
            @include form-title;

            margin-top: 1%;
        }

        h3
        {
            @include form-title;

            border: none;
            font-size: 1.5em;
            margin-bottom: .25%;

            @media only screen and (max-width: 900px)
            {
                font-size: 1.25em;
            }
        }

        input[type="checkbox"]
        {
            @extend %checkbox;
        }

        div.required-on
        {
            border: $thin-border solid $light-grey;
            margin-left: 12.5%;
            padding-bottom: 1%;
            padding-top: .5%;
            width: 75%;

            @media only screen and (max-width: 900px)
            {
                margin-left: 1.5%;
                width: 96%;
            }

            div.day-of-week-container
            {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-evenly;
                width: 100%;

                div.day-of-week
                {
                    z-index: 10;

                    input[type="checkbox"]
                    {
                        height: 60px;
                        width: 60px;

                        @media only screen and (max-width: 1300px)
                        {
                            height: 50px;
                            width: 50px;
                        }

                        @media only screen and (max-width: 900px)
                        {
                            height: 45px;
                            width: 45px;
                        }

                        @media only screen and (max-width: 450px)
                        {
                            height: 40px;
                            width: 40px;
                        }

                        @media only screen and (max-width: 400px)
                        {
                            height: 35px;
                            width: 35px;
                        }

                        &:disabled
                        {
                            pointer-events: none;
                        }

                        &:hover
                        {
                            cursor: pointer;
                        }
                    }

                    p
                    {
                        color: $white;
                        font-family: $body-font;
                        font-size: 1.75em;
                        margin: 0;

                        @media only screen and (max-width: 1300px)
                        {
                            font-size: 1.5em;
                        }

                        @media only screen and (max-width: 900px)
                        {
                            font-size: 1.25em;
                        }

                        @media only screen and (max-width: 450px)
                        {
                            font-size: 1.25em;
                        }

                        @media only screen and (max-width: 375px)
                        {
                            font-size: 1em;
                        }
                    }

                    &.disabled > p
                    {
                        color: $light-grey;
                    }

                    &.active > p
                    {
                        color: $white;
                    }

                    &.disabled > input[type="checkbox"]
                    {
                        border-color: $light-grey;
                    }

                    &.active > input[type="checkbox"]
                    {
                        border-color: $white;
                    }

                    &:hover
                    {
                        cursor: pointer;
                    }
                    
                    &:hover > p
                    {
                        font-weight: bold;

                        @media only screen and (max-width: 800px)
                        {
                            font-weight: normal;
                        }
                    }

                    &:hover > input[type="checkbox"]
                    {
                        border: $medium-border solid $white;

                        @media only screen and (max-width: 800px)
                        {
                            border: $thin-border solid $white;
                        }
                    }
                }
            }

            p
            {
                color: $white;
                font-family: $body-font;
                font-size: 2.25em;
                margin: 0;

                @media only screen and (max-width: 900px)
                {
                    font-size: 2em;
                }

                @media only screen and (max-width: 450px)
                {
                    font-size: 1.5em;
                }

                &.disabled
                {
                    color: $light-grey;
                }
            }

            input[type="number"]
            {
                height: auto;
                font-size: .75em;
                text-align: center;
                width: 10%;

                @media only screen and (max-width: 450px)
                {
                    width: 20%;
                }
            }
        }

        span.show-todo, span.times-daily
        {
            color: $white;
            display: inline-block;
            font-family: $body-font;
            font-size: 2.5em;
            text-align: left;
            width: 75%;

            @media only screen and (max-width: 900px)
            {
                font-size: 2em;
                width: 96%;
            }

            @media only screen and (max-width: 800px)
            {
                font-size: 1.75em;
                text-align: center;
            }

            @media only screen and (max-width: 450px)
            {
                font-size: 1.5em;
            }

            input[type="number"]
            {
                height: auto;
                font-size: .75em;
                text-align: center;
                width: 15%;

                @media only screen and (max-width: 400px)
                {
                    width: 20%;
                }
            }

            input.show-todo
            {
                height: 50px;
                width: 50px;

                @media only screen and (max-width: 800px)
                {
                    height: 40px;
                    width: 40px;
                }

                &:checked
                {
                    background: $green;
                }

                &:not(:checked)
                {
                    background: $red;
                }
            }
        }

        textarea
        {
            @media only screen and (max-width: 800px)
            {
                margin-bottom: 15%;
            }
        }

        button
        {
            @extend %button;

            @include cancel-submit-buttons;

            bottom: 1.5%;
        }
    }
}