@import 'app';

@mixin mood-checkbox
{
    height: 75px;
    width: 75px;

    @media only screen and (max-width: 900px)
    {
        height: 65px;
        width: 65px;
    }

    @media only screen and (max-height: 850px)
    {
        height: 50px;
        width: 50px;
    }

    &.default
    {
        border-color: $brown;

        &:checked
        {
            background: $brown;
        }
    }

    &.positive
    {
        border-color: $green;

        &:checked
        {
            background: $green;
        }
    }

    &.neutral
    {
        border-color: $yellow;

        &:checked
        {
            background: $yellow;
        }
    }

    &.negative
    {
        border-color: $red;

        &:checked
        {
            background: $red;
        }
    }
}

header.app
{
    @extend %app-header;

    #title
    {
        @include title-font;
    }
}

div.app-container
{
    &.month-list
    {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        overflow-x: hidden;
        overflow-y: scroll;
    
        @media only screen and (max-width: 800px)
        {
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: flex-start;
            overflow-y: scroll;
        }

        div.selector
        {
            align-self: flex-start;
            color: $white;
            font-family: $header-font;
            font-size: 2em;
            margin-bottom: 1%;
            margin-top: 1%;
            text-align: center;
            width: 99%;
    
            select
            {
                background-color: $dark-grey;
                color: $white;
                font-family: $header-font;
                font-size: 1em;
                text-align: center;
                padding-left: .5%;
                padding-right: .5%;

                @media only screen and (max-width: 1300px)
                {
                    font-size: .8em;
                }
    
                @media only screen and (max-width: 900px)
                {
                    font-size: .7em;
                }

                @media only screen and (max-width: 550px)
                {
                    max-width: 60%;
                }
    
                @media only screen and (max-width: 450px)
                {
                    font-size: .6em;
                }
    
                @media only screen and (max-width: 340px)
                {
                    font-size: .5em;
                }
    
                &:focus
                {
                    outline: none;
                }
            }
        }

        div.summary
        {
            align-self: stretch;
            border: $thin-border solid $light-grey;
            border-radius: 10px;
            margin: .25%;
            text-align: center;
            width: 45%;

            @media only screen and (max-width: 1300px)
            {
                margin: 1%; 
                width: 98%;
            }
            
            @media only screen and (max-width: 800px)
            {
                width: 96.5%;
            }

            a
            {   
                height: auto;
                text-decoration: none;
                width: 100%;
                
                &:hover > h2
                {
                    text-shadow: 1.5px 1px $white;
                    text-decoration-color: $white;
                }
            }

            h2
            {
                color: $white;
                font-family: $header-font;
                font-size: 1.85em;
                font-weight: normal;
                margin-bottom: 0;
                margin-top: 1.5%;
                text-decoration: underline;
                text-decoration-color: $green;
                width: 100%;

                @media only screen and (max-width: 1300px)
                {
                    font-size: 2.25em;
                }

                @media only screen and (max-width: 900px)
                {
                    font-size: 1.75em;
                }

                @media only screen and (max-width: 550px)
                {
                    font-size: 1.5em;
                }

                @media only screen and (max-width: 450px)
                {
                    font-size: 1.35em;
                }

                @media only screen and (max-width: 375px)
                {
                    font-size: 1.25em;
                }

                @media only screen and (max-width: 320px)
                {
                    font-size: 1.1em;
                }
            }

            ul
            {
                padding-left: 15%;
                text-align: left;
                width: 100%;

                li
                {
                    color: $white;
                    font-family: $body-font;
                    font-size: 2em;
                    margin: 0;

                    @media only screen and (max-width: 800px)
                    {
                        font-size: 1.75em;
                    }

                    @media only screen and (max-width: 550px)
                    {
                        font-size: 1.5em;
                    }

                    @media only screen and (max-width: 375px)
                    {
                        font-size: 1.25em;
                    }
                }
            }

            &.totals
            {
                width: 80%;

                @media only screen and (max-width: 1300px)
                {
                    margin: 1%; 
                    width: 98%;
                }
                
                @media only screen and (max-width: 800px)
                {
                    width: 96.5%;
                }

                ul
                {
                    columns: 2;
                    -webkit-columns: 2;
                    -moz-columns: 2;

                    padding-left: 10%;

                    @media only screen and (max-width: 1600px)
                    {
                        padding-left: 5%;
                    }

                    @media only screen and (max-width: 1300px)
                    {
                        columns: 1;
                        -webkit-columns: 1;
                        -moz-columns: 1;

                        padding-left: 15%;
                    }
                }
            }
        }
    }

    &.day-timeline, &.search-results
    {
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        overflow-y: scroll;
        overflow-x: hidden;

        h2.search-title
        {
            @include form-title;

            margin-bottom: 0;
            margin-left: 0;
            text-align: center;
        }

        span.search-highlight
        {
            &.default
            {
                background-color: $brown-highlight;
            }

            &.positive
            {
                background-color: $green-highlight;
            }

            &.neutral
            {
                background-color: $yellow-highlight;
            }

            &.negative
            {
                background-color: $red-highlight;
            }
        }

        div.selector
        {
            align-self: flex-start;
            color: $white;
            font-family: $header-font;
            font-size: 2em;
            margin-bottom: 1%;
            margin-top: 1%;
            text-align: center;
            width: 99%;
    
            select
            {
                background-color: $dark-grey;
                color: $white;
                font-family: $header-font;
                font-size: 1em;
                text-align: center;
                padding-left: .5%;
                padding-right: .5%;

                @media only screen and (max-width: 1300px)
                {
                    font-size: .8em;
                }
    
                @media only screen and (max-width: 900px)
                {
                    font-size: .7em;
                }

                @media only screen and (max-width: 550px)
                {
                    max-width: 60%;
                }
    
                @media only screen and (max-width: 450px)
                {
                    font-size: .6em;
                }
    
                @media only screen and (max-width: 340px)
                {
                    font-size: .5em;
                }
    
                &:focus
                {
                    outline: none;
                }
            }
        }

        span.time-spacer
        {
            border-left: 2px dashed $white;
            min-height: 50px;

            @media only screen and (max-height: 900px)
            {
                min-height: 35px;
            }

            @media only screen and (max-height: 800px)
            {
                min-height: 30px;
            }

            @media only screen and (max-height: 800px)
            {
                min-height: 25px;
            }
        }

        span.time-label
        {
            color: $white;
            font-family: $body-font;
            font-size: 1.75em;

            @media only screen and (max-width: 800px)
            {
                font-size: 1.5em;
            }

            @media only screen and (max-width: 550px)
            {
                font-size: 1.4em;
            }

            @media only screen and (max-width: 550px)
            {
                font-size: 1.3em;
            }

            @media only screen and (max-width: 550px)
            {
                font-size: 1.2em;
            }
        }

        div.summary
        {
            border: $thin-border solid $light-grey;
            border-radius: 10px;
            margin: .25%;
            text-align: center;
            width: 60%;

            @media only screen and (max-width: 1300px)
            {
                width: 98%;
            }
            
            @media only screen and (max-width: 800px)
            {
                width: 96.5%;
            }

            &#habits-journal-summary
            {
                width: 80%;

                @media only screen and (max-width: 1300px)
                {
                    width: 98%;
                }
                
                @media only screen and (max-width: 800px)
                {
                    width: 96.5%;
                }
            }

            &#affirmations-journal-summary, &.summary-timeline-item
            {
                padding-top: 1%;
            }

            a
            {   
                height: auto;
                text-decoration: none;
                width: 100%;
                
                &:hover > h2
                {
                    text-shadow: 1.5px 1px $white;
                    text-decoration-color: $white;
                }
            }

            h2
            {
                color: $white;
                font-family: $header-font;
                font-size: 1.85em;
                font-weight: normal;
                margin-bottom: 0;
                margin-top: 1.5%;
                text-decoration: underline;
                text-decoration-color: $green;
                width: 100%;

                @media only screen and (max-width: 1300px)
                {
                    font-size: 2.25em;
                }

                @media only screen and (max-width: 900px)
                {
                    font-size: 1.75em;
                }

                @media only screen and (max-width: 550px)
                {
                    font-size: 1.5em;
                }

                @media only screen and (max-width: 450px)
                {
                    font-size: 1.35em;
                }

                @media only screen and (max-width: 375px)
                {
                    font-size: 1.25em;
                }

                @media only screen and (max-width: 320px)
                {
                    font-size: 1.1em;
                }
            }

            p
            {
                color: $white;
                font-family: $body-font;
                font-size: 2em;
                text-align: left;
                padding-left: 5%;
                margin-bottom: 0;
                margin-top: 1%;
                width: 100%;

                @media only screen and (max-width: 900px)
                {
                    font-size: 1.9em;
                }

                @media only screen and (max-width: 900px)
                {
                    padding-left: 1%;
                }

                @media only screen and (max-width: 550px)
                {
                    font-size: 1.6em;
                }

                @media only screen and (max-width: 450px)
                {
                    font-size: 1.4em;
                }
            }

            ul
            {
                margin-top: 0;
                padding-left: 15%;
                padding-right: 5%;
                text-align: left;
                width: 100%;

                @media only screen and (max-width: 800px)
                {
                    padding-left: 10%;
                    padding-right: 1%;
                }

                li
                {
                    color: $white;
                    font-family: $body-font;
                    font-size: 2em;
                    margin: 0;
                    width: 80%;

                    @media only screen and (max-width: 900px)
                    {
                        font-size: 1.9em;
                    }

                    @media only screen and (max-width: 800px)
                    {
                        width: 89%;
                        font-size: 1.75em;
                    }

                    @media only screen and (max-width: 550px)
                    {
                        font-size: 1.5em;
                    }

                    @media only screen and (max-width: 450px)
                    {
                        font-size: 1.4em;
                    }

                    @media only screen and (max-width: 375px)
                    {
                        font-size: 1.25em;
                    }
                }

                &.timeline-item
                {
                    padding-left: 7.5%;

                    @media only screen and (max-width: 625px)
                    {
                        padding-left: 10%;
                    }
                }

                &.timeline-item > li
                {
                    width: 90%;

                    @media only screen and (max-width: 625px)
                    {
                        width: 80%;
                    }
                }
            }
            
            &.todo-item
            {
                display: flex;
                flex-direction: row;
                justify-content: center;
                padding: 0;
                text-align: left;
                width: 60%;

                @media only screen and (max-width: 1300px)
                {
                    width: 98%;
                }
                
                @media only screen and (max-width: 800px)
                {
                    width: 96.5%;
                }

                ul
                {
                    margin-top: 1.75%;
                    margin-bottom: 1.75%;
                }

                div.priority
                {
                    align-self: flex-end;
                    border-left: $thin-border solid $light-grey;
                    border-radius: 0 7.5px 7.5px 0;
                    flex-basis: 15px;
                    flex-grow: 0;
                    height: 100%;
        
                    @media only screen and (max-width: 800px)
                    {
                        flex-basis: 15px;
                    }
        
                    &.default
                    {
                        background-color: $brown;
                    }

                    &.low
                    {
                        background-color: $green;
                    }
        
                    &.medium
                    {
                        background-color: $yellow;
                    }
        
                    &.high
                    {
                        background-color: $red;
                    }
                }
            }

            &.summary-journal-entry
            {
                display: flex;
                padding: 0;
                text-align: left;
                width: 60%;

                @media only screen and (max-width: 1300px)
                {
                    width: 98%;
                }
                
                @media only screen and (max-width: 800px)
                {
                    width: 96.5%;
                }

                div.text
                {
                    color: $white;
                    font-family: $body-font;
                    font-size: 2.1em;
                    margin-bottom: 1%;
                    max-height: 100px;
                    padding: 1%;
                    padding-left: 5%;
                    overflow-y: hidden;
                    width: 97.5%;

                    @media only screen and (max-width: 900px)
                    {
                        font-size: 2em;
                    }

                    @media only screen and (max-width: 800px)
                    {
                        font-size: 1.85em;
                    }

                    @media only screen and (max-width: 550px)
                    {
                        font-size: 1.6em;
                    }

                    @media only screen and (max-width: 450px)
                    {
                        font-size: 1.5em;
                    }

                    @media only screen and (max-width: 375px)
                    {
                        font-size: 1.35em;
                    }

                    a.preview
                    {
                        color: $white;
                        font-size: .75em;
                        text-decoration: none;

                        &:hover
                        {
                            text-shadow: 1px 1px $white;
                        }
                    }
                }

                div.mood
                {
                    align-self: flex-end;
                    border-left: $thin-border solid $light-grey;
                    border-radius: 0 7.5px 7.5px 0;
                    flex-basis: 15px;
                    flex-grow: 0;
                    height: 100%;
        
                    @media only screen and (max-width: 800px)
                    {
                        flex-basis: 15px;
                    }
        
                    &.default
                    {
                        background-color: $brown;
                    }
        
                    &.positive
                    {
                        background-color: $green;
                    }
        
                    &.neutral
                    {
                        background-color: $yellow;
                    }
        
                    &.negative
                    {
                        background-color: $red;
                    }
                }
            }
        }
    }

    &.entry-details
    {
        display: block;

        p
        {
            color: $white;
            font-family: $body-font;
            font-size: 1.6em;
            text-align: center;

            &.journal-category
            {
                margin-bottom: 0;
                margin-top: .5%;
                text-align: center;
                width: 100%;
            }

            &.body
            {
                border: $thin-border solid $light-grey;
                border-radius: 5px;
                font-size: 1.75em;
                margin-left: 12.5%;
                max-height: 60%;
                overflow-y: scroll;
                padding: 5%;
                padding-bottom: 2%;
                padding-top: 2%;
                text-align: left;
                width: 65%;
    
                @media only screen and (max-height: 850px)
                {
                    font-size: 1.75em;
                }
    
                @media only screen and (max-width: 900px)
                {
                    font-size: 1.5em;
                    margin-left: 2.5%;
                    margin-top: 2.5%;
                    max-height: 70%;
                    width: 83.5%;
                }

                @media only screen and (max-width: 900px)
                {
                    max-height: 75%;
                }
    
                @media only screen and (max-width: 350px)
                {
                    font-size: 1.25em;
                }

                @media only screen and (min-height: 900px)
                {
                    max-height: 80%;
                }

                @media only screen and (max-height: 800px)
                {
                    max-height: 70%;
                }

                @media only screen and (max-height: 675px)
                {
                    max-height: 65%;
                }

                @media only screen and (max-height: 575px)
                {
                    max-height: 60%;
                }

                @media only screen and (max-height: 475px)
                {
                    max-height: 50%;
                }
            }
        }

        h2
        {
            @include form-title;

            margin-bottom: 0;
            margin-top: 0;
            text-align: center;
        }

        h3.mood
        {
            font-family: $body-font;
            font-size: 2.5em;
            font-weight: bolder;
            margin-left: 12.5%;
            margin-top: 0;
            text-align: center;
            width: 75%;
            word-wrap: break-word;

            @media only screen and (max-height: 850px)
            {
                font-size: 2.25em;
            }

            @media only screen and (max-width: 900px)
            {
                font-size: 2em;
                margin-bottom: 0;
                margin-left: 2.5%;
                width: 95%;
            }

            @media only screen and (max-width: 350px)
            {
                font-size: 1.75em;
            }

            &.default
            {
                color: $brown;
            }

            &.positive
            {
                color: $green;
            }

            &.neutral
            {
                color: $yellow;
            }

            &.negative
            {   
                color: $red;
            }
        }


    }

    &.categories-list
    {
        @extend %flex-container;

        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        padding: 0;
        text-align: center;

        h2
        {
            border-bottom: $thin-border solid $white;
            color: $white;
            font-family: $header-font;
            font-size: 2em;
            margin-bottom: 2.5%;
            margin-top: 1%;
            width: 50%;
        }

        div.category
        {
            @include add-delete-list-item;
        }
    }
    
    form.journal-entry
    {
        @extend %base-form;

        margin-top: 0;
        overflow-y: scroll;

        h2
        {
            @include form-title;

            margin-bottom: .5%;
        }

        input[type="text"]
        {
            font-size: 2em;
        }

        select
        {
            background-color: $dark-grey;
            color: $white;
            font-family: $body-font;
            font-size: 2.25em;
            margin-bottom: 1%;
            padding-left: .5%;
            padding-right: .5%;
            text-align: center;
            width: 75%;

            @media only screen and (max-width: 1400px)
            {
                font-size: 2em;
            }

            @media only screen and (max-width: 900px)
            {
                font-size: 1.75em;
                margin-left: 2.5%;
                width: 95%;
            }

            @media only screen and (max-width: 450px)
            {
                font-size: 1.5em;
            }

            &:focus
            {
                outline: none;
            }
        }

        textarea
        {
            min-height: 250px;

            @media only screen and (max-height: 725px)
            {
                min-height: 200px;
            }

            @media only screen and (max-height: 650px)
            {
                min-height: 150px;
            }

            @media only screen and (max-height: 575px)
            {
                min-height: 100px;
            }

            @media only screen and (max-height: 500px)
            {
                min-height: 50px;
            }
        }

        div.mood-container
        {
            @extend %flex-container;

            margin-left: 12.5%;
            width: 75%;

            @media only screen and (max-width: 900px)
            {
                margin-left: 2.5%;
                width: 95%;
            }

            .mood-checkbox
            {
                @extend %checkbox;
                @include mood-checkbox;
            }
        }

        button.cancel,
        button.submit
        {
            @extend %button;

            @include cancel-submit-buttons;
        }
    }
    
    div.color-guide
    {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 95%;
        width: 100%;

        div.color-key
        {
            color: $white;
            font-family: $header-font;
            font-size: 1.75em;
            text-align: center;
            width: auto;

            @media only screen and (max-width: 800px)
            {
                font-size: 1.4em;
            }

            .priority
            {
                @extend %checkbox;
                @include mood-checkbox;

                &:first-of-type
                {
                    margin-top: 5%;
                }
            }
        }
    }
}

#search-entries-container
{
    background-color: $dark-grey;
    border-radius: 5px;
    display: none;
    height: auto;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 17.5vh;
    position: absolute;
    width: 40%;
    z-index: 6;

    @media only screen and (max-height: 620px)
    {
        margin-top: 2.5vh;
    }

    @media only screen and (max-width: 1350px)
    {
        margin-left: 25%;
        margin-right: 25%;
        width: 50%;
    }

    @media only screen and (max-width: 1100px)
    {
        margin-left: 20%;
        margin-right: 20%;
        width: 60%;
    }

    @media only screen and (max-width: 650px)
    {
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }

    @media only screen and (max-width: 515px)
    {
        margin-left: 0;
        width: 95%;
    }

    h2
    {
        color: $white;
        font-family: $header-font;
        font-size: 2em;
        margin-bottom: 0;
        margin-top: 2.5%;
        padding-left: 5%;
        padding-right: 5%;
        text-align: center;

        @media only screen and (max-width: 900px)
        {
            font-size: 1.5em;
        }

        @media only screen and (max-width: 420px)
        {
            font-size: 1.35em;
        }
    }


    form
    {
        @extend %base-form;
        
        p
        {
            color: $white;
            font-family: $body-font;
            font-size: 2.5em;
            margin: 1%;
        }

        div.between-dates-container
        {
            input[type="date"]
            {
                font-size: 2.25em;
                text-align: center;
                width: 50%;

                @media only screen and (max-width: 1000px)
                {
                    width: 60%;
                }

                @media only screen and (max-width: 900px)
                {
                    width: 70%;
                }

                @media only screen and (max-width: 700px)
                {
                    width: 80%;
                }
            }
        }

        div.buttons-container
        {
            bottom: 25px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            
            button.journal-search-button, button.journal-search-button
            {
                background-color: $light-blue;
                display: inline-block;

                &:hover
                {
                    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
                }
            }
        }
    }
}