@import 'app';

header.app
{
    @extend %app-header;

    #title
    {
        @include title-font;
    }
}

#profile-picture-input
{
    display: none;
}

nav.app
{
    ul.list
    {
        &.settings
        {
            a
            {
                font-size: 1.25em;

                @media only screen and (max-width: 800px)
                {
                    font-size: 1em;
                }
            }
        }
    }
}

div.app-container
{
    @extend %flex-container;

    align-items: center;
    overflow-y: scroll;
    padding: 0;
    text-align: center;

    h2
    {
        border-bottom: $thin-border solid $light-grey;
        color: $white;
        font-family: $header-font;
        font-size: 2em;
        margin: 0;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: .5%;
        padding: 0;
        width: 50%;

        @media only screen and (max-width: 800px)
        {
            font-size: 1.65em;
            margin-left: 12.5%;
            margin-right: auto;
            margin-top: 2.5%;
            width: 75%;
        }

        @media only screen and (max-width: 650px)
        {
            margin-bottom: 2.5%;
            margin-left: 2.5%;
            width: 95%;
        }

        @media only screen and (max-width: 450px)
        {
            font-size: 1.45em;
        }
    }


    div.profile-picture-container
    {
        align-self: stretch;
        padding: 0;
        padding-top: 1%;
        width: 40%;

        @media only screen and (max-width: 1300px)
        {
            width: 30%;
        }

        @media only screen and (max-width: 800px)
        {
            margin-left: 10%;
        }

        @media only screen and (max-width: 700px)
        {
            margin-left: 5%;
        }

        @media only screen and (max-width: 575px)
        {
            margin-left: 5%;
            width: 25%;
        }

        img
        {
            border: $thin-border solid $dark-grey;
            border-radius: 50%;
            float: right;
            height: auto;
            margin: 0;
            margin-right: 2.5%;
            max-width: 50%;

            @media only screen and (max-width: 1300px)
            {
                max-width: 75%;
            }

            @media only screen and (max-width: 575px)
            {
                max-width: 95%;
                top: 5%;
                position: relative;
            }

            @media only screen and (min-height: 1200px)
            {
                top: 15%;
                position: relative;
            }

            @media only screen and (min-height: 1300px)
            {
                top: 25%;
                position: relative;
            }

            &.profile-picture-link:hover
            {
                border: $thin-border solid $white;
                cursor: pointer;
            }
        }
    }

    div.stats-container
    {
        // align-self: center;
        width: 50%;

        @media only screen and (max-width: 1300px)
        {
            width: 60%;
        }

        @media only screen and (max-width: 800px)
        {
            width: 50%;
        }

        @media only screen and (max-width: 700px)
        {
            width: 60%
        }

        @media only screen and (max-width: 575px)
        {
            width: 70%;
        }

        ul
        {
            align-items: center;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;
            list-style-type: none;
            margin: 0;
            padding: 0;
            text-align: left;
            width: 100%;

            li
            {
                color: $white;
                font-family: $body-font;
                font-size: 2.25em;
                margin-bottom: 2.5%;
                margin-left: 15%;
                margin-top: 2.5%;
                width: 85%;

                @media only screen and (max-height: 800px)
                {
                    margin-left: 25%;
                    width: 75%;
                }

                @media only screen and (max-width: 1500px)
                {
                    font-size: 2em;
                }

                @media only screen and (max-width: 1300px)
                {
                    font-size: 1.75em;
                    margin-left: 5%;
                    width: 95%;
                }

                @media only screen and (max-width: 950px)
                {
                    font-size: 1.5em;
                }

                @media only screen and (max-width: 650px)
                {
                    margin-left: 15%;
                    width: 85%;
                }

                @media only screen and (max-width: 500px)
                {
                    margin-left: 2.5%;
                    width: 97.5%;
                }

                @media only screen and (max-width: 450px)
                {
                    font-size: 1.35em;
                }

                @media only screen and (max-width: 410px)
                {
                    font-size: 1.25em;
                }

                @media only screen and (max-width: 350px)
                {
                    font-size: 1.1em;
                }

                @media only screen and (max-width: 300px)
                {
                    font-size: 1em;
                }

                span.highlight
                {
                    color: $green;
                }
            }
        }
    }

    div.values-container, div.nutshell-container
    {
        align-self: flex-start;
        padding: 0;
        text-align: center;
        width: 45%;

        @media only screen and (max-width: 800px)
        {
            width: 95%;
        }

        h3
        {
            border-bottom: $thin-border solid $light-grey;
            color: $white;
            font-family: $header-font;
            font-size: 1.75em;
            width: 100%;

            @media only screen and (max-width: 800px)
            {
                font-size: 1.5em;
                margin: 0;
                margin-left: 12.5%;
                margin-right: auto;
                width: 75%;
            }

            @media only screen and (max-width: 650px)
            {
                margin-left: 2.5%;
                width: 95%;
            }

            @media only screen and (max-width: 450px)
            {
                font-size: 1.35em;
            }
        }

        ul
        {
            list-style-type: none;
            padding: 0;

            li
            {
                color: $white;
                font-family: $body-font;
                font-size: 2.1em;

                @media only screen and (max-width: 1300px)
                {
                    font-size: 1.8em;
                }

                @media only screen and (max-width: 450px)
                {
                    font-size: 1.5em;
                }
            }

            a
            {
                border: $thin-border dashed $light-grey;
                border-radius: 10px;
                display: block;

                li
                {
                    color: $light-grey;
                }

                &:hover
                {
                    border-color: $white;
                }

                &:hover > li
                {
                    color: $white;
                }
            }
        }

        p
        {
            color: $white;
            font-family: $body-font;
            font-size: 1.5em;

            @media only screen and (max-width: 1300px)
            {
                font-size: 1.25em;
            }

            @media only screen and (max-width: 800px)
            {
                margin-left: 12.5%;
                margin-right: auto;
                width: 75%;
            }

            @media only screen and (max-width: 450px)
            {
                margin-left: 2.5%;
                width: 95%;
            }
        }

        a
        {
            text-decoration: none;

            p
            {
                border: $thin-border dashed $light-grey;
                border-radius: 10px;
                color: $light-grey;
            }

            &:hover > p
            {
                border-color: $white;
                color: $white;
            }
        }
    }

    div.values-container
    {
        @media only screen and (max-width: 650px)
        {
            margin-top: 2.55%;
        }
    }

    form.edit
    {
        @extend %base-form;

        h2
        {
            @include form-title;
        }

        &.name > h2
        {
            margin-top: 10%;

            @media only screen and (max-width: 800px)
            {
                margin-top: 30%;
            }

            @media only screen and (max-height: 400px)
            {
                margin-top: 20%;
            }
        }

        input[type="text"]
        {
            font-size: 3em;
            width: 60%;

            @media only screen and (max-width: 850px)
            {
                font-size: 2em;
                width: 95%;
            }
        }

        textarea
        {
            min-height: 375px;

            @media only screen and (max-height: 850px)
            {
                min-height: 350px;
            }

            @media only screen and (max-height: 750px)
            {
                min-height: 275px;
            }

            @media only screen and (max-height: 600px)
            {
                min-height: 175px;
            }
        }

        button
        {
            @extend %button;

            @include cancel-submit-buttons;
        }
    }

    &.values-list
    {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;

        h2
        {
            margin-bottom: 2.5%;
            margin-top: 1%;
        }

        div.value
        {
            border: $thin-border solid $light-grey;
            border-radius: 10px;
            flex-shrink: 0;
            margin-top: 5px;
            overflow-x: hidden;
            overflow-y: hidden;
            position: relative;
            text-align: left;
            width: 50%;
            white-space: nowrap;
    
            form
            {
                vertical-align: middle;

                p
                {
                    color: $white;
                    display: inline-block;
                    font-family: $body-font;
                    font-size: 2.5em;
                    margin: 0;
                    margin-left: 2.5%;

                    @media only screen and (max-width: 1300px)
                    {
                        font-size: 2.25em;
                    }

                    @media only screen and (max-width: 800px)
                    {
                        font-size: 1.85em;
                    }
                }

                img
                {
                    background-color: $dark-grey;
                    border-radius: 0 10px 10px 0;
                    padding: .5%;
                    position: absolute;
                    max-height: 82.5%;
                    right: 0;

                    &:hover
                    {
                        background-color: $red;
                        cursor: pointer;
                    }
                }

                input[type="text"]
                {
                    float: left;
                    font-family: $body-font;
                    font-size: 1.75em;
                    margin-bottom: .5%;
                    margin-left: 2%;
                    margin-top: .5%;
                    width: 70%;

                    @media only screen and (max-width: 1300px)
                    {
                        font-size: 1.65em;
                    }

                    @media only screen and (max-width: 800px)
                    {
                        font-size: 1.35em;
                    }
                }

                button
                {
                    border-radius: 0 10px 10px 0;
                    color: $black;
                    font-family: $body-font;
                    font-size: 2.25em;
                    height: 100%;
                    padding-left: 2.5%;
                    padding-right: 1.5%;
                    position: absolute;
                    right: 0;
                    width: auto;

                    @media only screen and (max-width: 1300px)
                    {
                        font-size: 2.1em;
                    }

                    @media only screen and (max-width: 800px)
                    {
                        font-size: 1.75em;
                    }


                    &.add
                    {
                        background-color: $green;
                    }

                    &.delete
                    {
                        background-color: $red;
                        display: none;
                    }

                    &:hover
                    {
                        cursor: pointer;
                        font-weight: bold;
                    }
                }
            }
    
            @media only screen and (max-width: 1300px)
            {
                width: 90%;
            }
    
            @media only screen and (max-width: 800px)
            {
                width: 95%;
            }
    
            &:last-of-type
            {
                margin-bottom: 2.5%;
                margin-top: 2.5%;

                @media only screen and (max-width: 1300px)
                {
                    margin-top: 5%;
                }

                @media only screen and (max-width: 800px)
                {
                    margin-bottom: 2.5%;
                    margin-top: 10%;
                }
            }
        }
    }

    &.settings
    {
        align-content: flex-start;

        div.setting
        {
            border: $thin-border solid $light-grey;
            border-radius: 10px;
            color: $white;
            font-family: $body-font;
            font-size: 2em;
            margin-bottom: .5%;
            margin-left: 2.5%;
            margin-right: 2.5%;
            padding-bottom: .5%;
            padding-top: .5%;
            text-align: center;
            width: 95%;

            input[type="checkbox"]
            {
                @extend %checkbox;

                margin-right: 1%;

                &:checked
                {
                    background: $green;
                }

                &:not(:checked)
                {
                    background: $red;
                }
            }

            input[type="number"]
            {
                background-color: $dark-grey;
                color: $white;
                font-family: $body-font;
                font-size: 1.25em;
                text-align: center;
                padding: 0;
                width: auto;
            }

            &:first-of-type
            {
                margin-top: 1%;
            }
        }
    }
}
